@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #6b1ec8;
}

::-webkit-scrollbar-thumb {
  background: #0f1117;
  box-shadow: 0 0 20px 20px #0facfd;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b1ec8;
  box-shadow: 0 0 20px 20px #0facfd;
}
