@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
  color: white;
}

/* thead {
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px;
}

tbody {
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px;
}

tbody {
  background-color: #959296;
  color: black;
  border-radius: 5px;
}

table {
  border-radius: 5px;
  padding: 22px 75px;
  background-color: rgb(60, 60, 60);
}

table button {
  width: 68px;
  height: 24px;
  border-radius: 5px;
  font-weight: 500;
}

table button:hover {
  opacity: 80%;
}

td {
  color: black;
} */

::-webkit-scrollbar {
  width: 10px;
}

/* /* Track */
::-webkit-scrollbar-track {
  background: #6b1ec8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f1117;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b1ec8;
}
